:root {
    --primary-color: #95D9D7;
    --secondary-color: #494A57;
    --tertiary-color: #9091a0;
    --section-color: #416586;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
    background-color: #F0F4F7;
}

/* HEADER STYLE START */
header {
    padding: 4px 50px 15px 0;
    background-color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header h1 {
    font-size: 55px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 3px 15px 3px 70px;
}

header nav ul {
    padding: 10px 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

header nav li {
    padding: 5px 12px;
    margin: 5px;
    font-size: 1.55vw;
    color: var(--primary-color);
    border-bottom: 4px solid var(--primary-color);
    text-decoration: none;
}

header nav a {
    color: var(--primary-color);
}

header nav ul li:hover {
    background:var(--primary-color);
}

header nav ul li a:hover {
    color: var(--secondary-color);
}
/* HEADER STYLE END */

/* FOOTER STYLE */
footer {
    padding: 10px 0;
    text-align: center;
    background-color: var(--secondary-color);
    color: #DBE3EB;
}

/* HERO SECTION START */
.hero {
    background-image: url("../images/Road-to-Blue-Mountain.jpg");
    background-size: cover;
    background-position: top;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.hero h2 {
    padding: 7px 12px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    font-size: 34px;
    margin: 150px 80px 20px 0;
}
/* HERO SECTION END */

main {
    margin-left: auto;
    margin-right: auto;
}

.section-border {
    display: inline-block;
    /* Flex display of the page */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.flex-title {
    text-align: right;
    /* Flex display of the page */
    flex: 0 0 19%;
}

.section-title {
    margin: 30px 0 0 30px;
    color: var(--section-color);
    font-size: 42px;
}

.title-border {
    border-left: 4px solid var(--section-color);
    margin: 30px 50px 20px 0px;
    padding-left: 30px;
    padding-bottom: 20px;
    /* flex display of the page */
    flex: 0 0 75%;
}

/* ABOUT ME SECTION */
.intro-info {
    display: flex;
}

.profile-pic {
    width: 15%;
    object-fit: contain;
}

.intro p {
    padding-left: 30px;
    margin: 30px 52px 20px 0px;
    font-size: 17px;
    line-height: 1.4;
}

/* WORK SECTION START */
.wrap {
    position: relative;
}

.work-samp-title {
    padding: 10px;
    background-color: var(--primary-color);
    font-size: 23px;
    position: absolute;
    color: var(--secondary-color);
    line-height: 1.5;
    transform: translate(0%,-140%);
}

.work-samp-title p {
    font-size: 15px;
    line-height: 1.5;
}

.work-images {
    padding-top: 10px;
}

.work-images img {
    width: 72vw;
    height: 400px;
    object-fit: cover;
    object-position: 100% 0;
    border: 5px solid var(--primary-color);
}

.work-images img:hover {
    background: var(--primary-color);
    opacity: 0.5;
}

#all-secondary-works {
    /* Flex display of the work images other than top */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#secondary-work img {
    height: 200px;
    width: 35vw;
    object-position: 100% 50%;
}

/* WORK SECTION END */

/* CONTACT ME SECTION START */
.contact-info {
    padding-top: 30px;
    padding-bottom: 60px;
    margin-bottom: 50px;
    /* flex display of the contents */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.contact-info address a {
    padding: 5px;
    text-decoration: none;
    font-style: normal;
    color: var(--section-color);
    font-size: 20px;
    border-bottom: 3px solid;
    line-height: 1.8;
}

.contact-info address a:hover {
    padding: 10px 20px;
    background-color: var(--primary-color);
    border-bottom: none;
    border-radius: 15px;
    color: #104191;
}
/* CONTACT ME SECTION END */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        position: relative;
    }

    header h1 {
        padding-left: 45px;
    }

    header nav ul li {
        font-size: 25px;
    }

    main {
        max-width: 90%;
    }
    
    .section-border {
        display: block;
    }

    .section-title {
        text-align: center;
        border-bottom: 4px solid;
        margin: 30px auto 0 auto;
        width: 50%;
    }

    .title-border {
        border-left: none;
        padding-left: 0;
        margin: 30px auto 20px auto;
    }

    .intro-info {
        display: block;
        text-align: center;
    }
    
    .intro p {
        padding-left: 0;
        margin: 30px auto;
        text-align: center;
    }

    .work-images {
        text-align: center;
    }

    .work-images img {
        width: 90vw;
        height: 300px;
    }

    .work-samp-title {
        transform: translate(0, -140%);
    }

    #secondary-work img {
        width: 44vw;
    }
    
    .contact-info {
        padding: 10px 20px;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    header {
        padding: 4px 0 8px 0;
    }

    header h1 {
        font-size: 50px;
    }

    header nav ul li {
        font-size: 20px;
        border-bottom: 3px solid;
    }

    .section-title {
        font-size: 43px;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    header h1 {
        font-size: 45px;
    }

    header nav ul li {
        font-size: 18px;
        padding: 5px 5px;
        border-bottom: 2px solid;
    }

    .hero h2 {
        padding: 5px 10px;
        font-size: 28px;
        margin: 140px 10px 20px 0;
    }
    
    .section-title {
        font-size: 38px;
    }

    .profile-pic {
        width: 45%;
    }

    .intro p {
        font-size: 15px;
    }

    .work-images img {
        height: 200px;
    }

    .work-samp-title {
        font-size: 20px;
    }

    #secondary-work img {
        width: 90vw;
    }

    .contact-info address a {
        font-size: 18px;
        line-height: 2.2;
    }
}